* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'popins', sans-sarif;
}

body {
    background-color: #c0edff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0);
}

.container .left-side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profiletext {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profiletext .imgbx {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 2s;
}

.profiletext .imgbx img:hover{
    transform:scale(1.5);
}

.profiletext h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
}

.profiletext h2 span {
    font-size: o.8em;
    font-weight: 300;
}

.contactinfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactinfo ul {
    position: relative;
}

.contactinfo ul li {
    position: relative;
    list-style: none;
    margin: 9px 0;
    cursor: pointer;
}

.contactinfo ul li .icon {
    display: inline-flex;
    width: 40px;
    font-size: 15px;
    color: #03a9f4;
}

.contactinfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactinfo.education h3 {
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
}

.contactinfo.education li {
    margin-bottom: 15px;

}

.contactinfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactinfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactinfo.education h4 {
    color: #fff;
    font-weight: 500;
}

.contactinfo.language .persent {
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
}

.contactinfo.language .persent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
} 

.text{
    color: #fff;
}



.container .right-side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #000000;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
    font-size: 20px;

}

.about .box .year_company h5{
    text-transform: uppercase;
    color: #000000;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skill .box{
    position: relative;
    width: 75%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.skill.imp{
    font-size: large;
}

.skill .box h4{
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
}

.skill .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #dddddd;
}

.skill .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}

.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}

.interest ul li .fa{
    color: #03a9f4;
    font-size: 18px;
    width: 30px;

}

.social-icons{
    margin-top: 90px;
    
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 50px;
    color: #000000;
    display: inline-block;
    transition: transform 0.5s;
    
}

.social-icons a:hover{
    transform: translateY(-7px);
    color: #78c3e6;
}

@media (max-width: 1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 60px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .interest ul{
        grid-template-columns: repeat(1,1fr);
    }
    .skill .box{
        grid-template-columns: repeat(1,1fr);
    }
    .icon{
        display: block;


    }

    .about2.box.year_company.fresher{
        font-size: 5px;
        
    }
    
}